
{{#partial "content"}}
    <div class=" marginTop">
        <div class="page-header">
            <h1>Welcome to Wildlife tracker.</h1>
            <p>To add an animal sighting:
                <a href="/squads/new"> click here</a>
            </p>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 class="text.center">Animal list!</h1>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}