
{{#partial "content"}}
    <div class=" marginTop">
        <div class="page-header">
            <h1>Welcome to Wildlife tracker.</h1>
            <p>To add an animal sighting:
                <a href="/dashboards/new"> click here</a>
            </p>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}