<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Heroes Squad{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/App.css'>
    {{#block "styles"}}{{/block}}
</head>
<body>
<ul class="nav nav-tabs nav justify-content-end">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/heroes/list">Dashboard</a></li>
    <li role="presentation"><a href="/heroes/list">Location</a></li>
    <li role="presentation"><a href="/sqgit uads/new">Rangers</a></li>
</ul>
<div class="container">
    <div class="col-md-8 offset-md-2">
        {{#block "content"}}
        {{/block}}

    </div>
</div>

{{#block "footer"}}
    </body>
    </html>
{{/block}}