{{#partial "content"}}
<div class="container">
    <div class="ranger-details">
        <div class="card">
            <h1> Ranger Details</h1>
            <p>{{rangerName}}</p>
            <p>{{badgeNumber}}</p>
        </div>

    </div>
</div>
{{/partial}}

{{> layout.hbs}}