{{#partial "content"}}
    <div class=" marginTop">
        <table class="table table-dark">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Badge Number</th>

            </tr>
            </thead>
            <tbody>
            <h1>Ranger's Details</h1>
            {{#each rangers}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{badgeNumber}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div>
        <form action="/rangers" method="post">
             <div class= "form-group">
                <label for="name">Ranger's Name</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class= "form-group">
                <label for="badgeNumber">Badge Number</label>
                <input type="text" id="badgeNumber" name="badgeNumber" class="form-control" required>
            </div>
            <button type="submit" class="button btn-success">Submit</button>
        </form>
    </div>
{{/partial}}

{{> layout.hbs}}