{{#partial "styles"}}
    <link rel='stylesheet' href='css/App.css'>
{{/partial}}
{{#partial "content"}}
    <div class=" marginTop">
        <h1>Success!</h1>

        Thank you, your content has been saved.

        <a href="/">Go Back</a>
    </div>
{{/partial}}

{{> layout.hbs}}